body{
    overflow-x:hidden ;
}

@media (min-width: 768px) {
    .container{
        width: 90%;
        margin-left: 0 auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }}

    @media (max-width: 768px) {
        .col-xl-5,
        .col-xl-3 {
            margin-left: 0 !important;
        }
        /* Add more styles for smaller screens */
    }
